@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    @include tablet {
      //   padding: 0 20px;
    }
  }

  &__container--right {
    position: relative;
  }

  &__navigation {
    display: none;
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    right: -250px;
    bottom: 0;
    transition: right 0.5s ease;
    z-index: 3;

    &.open {
      display: block;
      right: 0;
      background: #000;
      opacity: 0.8;
      @include tablet {
        display: absolute;
        background: #ffffff;
      }
    }

    @include tablet {
      display: block;
      position: absolute;
      width: 350px;
      right: 0;
    }

    &--inner {
      padding-top: 25px;
      @include tablet {
        padding-top: 10px;
      }
    }

    &--list {
      list-style: none;
      @include tablet {
        display: flex;
        justify-content: end;
      }
    }

    &--item {
      border-bottom: 1px solid #333;
      @include tablet {
        margin-left: 10px;
        border-bottom: none;
      }
    }

    &--link {
      display: block;
      color: $willgro-primary;
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      transition-duration: 0.2s;
      @include tablet {
        margin-left: 10px;
        // padding: 10px;
        border-bottom: 1px solid #333;
      }
    }
  }

  &__navigation--toggle-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 5;
    cursor: pointer;
    @include tablet {
      display: none;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg);
      position: absolute;
      top: 12px;
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg);
      position: absolute;
      top: 12px;
    }

    span {
      position: absolute;
      display: block;
      right: 0;
      width: 30px;
      height: 2px;
      background-color: $willgro-primary;
      transition: all 0.5s;
      border-radius: 4px;

      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
  }
}
